 
  .error-message {
    color: red;
    font-size: 14px;
}


.error-input {
    border: 2px solid red;
}


.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #333;
}


.form-control {
    margin-bottom: 15px;
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('images//pexels-olena-bohovyk-18468852.jpg') no-repeat center center fixed;
    background-size: cover;
}


.container {
    background-color: rgba(255, 210, 210, 0.1); 
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.form-control {
    background-color:rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    
}